<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
    
  <head>
    <link rel="stylesheet" href="/404.css">
  </head>
  <header class="nor-nav">
    <%- include('./partials/nav.ejs') %>
  </header>

  <header class="midia-nav">
    <nav>
      <div class="toggle">☰</div>
      <div class="nav-links">
          <%- include('./partials/nav.ejs') %> <!-- Ensure nav.ejs has links -->
      </div>
    </nav>
  </header>

  <section class="hero">
    <div class="hero-text">
      <h1>OPPS, PAGE NOT FOUND !!</h1>
    </div>
  </section>

  
  <div>
   <h2>
    All Blogs
   </h2>

  </div>
  
  <%- include('./partials/footer.ejs') %>
  <script>
    // JavaScript to toggle the navigation on smaller screens
    const toggle = document.querySelector('.toggle');
    const nav = document.querySelector('nav');

    toggle.addEventListener('click', () => {
        nav.classList.toggle('active');
    });
</script>
</body>
</html>
