<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <head>
    <link rel="stylesheet" href="/cra.css">
  </head>
  <header class="nor-nav">
    <%- include('./partials/nav.ejs') %>
  </header>

  <header class="midia-nav">
    <nav>
      <div class="toggle">☰</div>
      <div class="nav-links">
          <%- include('./partials/nav.ejs') %> <!-- Ensure nav.ejs has links -->
      </div>
    </nav>
  </header>

  <section class="create-blog-section">
    <h1>Create New Blog Post</h1>
    <p>Fill out the form below to create a new blog post and share your thoughts with the world.</p>

    <div class="blog-form-container">
      <form action="/craete" method="POST" >

        <label for="title">Blog Title:</label>
        <input type="text" id="title" name="title" required></br>
        <input type="text" name="snippet" placeholder="Snippet" required>

        <label for="content">Blog Content:</label>
        <textarea id="content" name="body" rows="10" required></textarea></br>

        <label for="category">Category:</label>
        <select id="category" name="category" required>
          <option value="" disabled selected>Select Category</option>
          <option value="technology">Technology</option>
          <option value="web-development">Web Development</option>
          <option value="data-science">Data Science</option>
          <option value="productivity">Productivity</option>
          <option value="programming">Programming</option>
          <option value="lifestyle">Lifestyle</option>
        </select></br>

        <button type="submit">Create Blog Post</button>
      </form>
    </div>
  </section>

  <%- include('./partials/footer.ejs') %>
  <script>
    // JavaScript to toggle the navigation on smaller screens
    const toggle = document.querySelector('.toggle');
    const nav = document.querySelector('nav');

    toggle.addEventListener('click', () => {
        nav.classList.toggle('active');
    });
</script>
</body>
</html>
