
        * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-left: 5%;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.hero {
  background-image: url('hero-image.jpg');
  background-size: cover;
  color: black;
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 48px;
}

.toggle-all{
  display: none;
}
.midia-nav{
  display: none;
}
@media (max-width: 768px) {
  nav .nav-links {
      display: none; /* Hide links on small screens */
      flex-direction: column;
  }

  nav .toggle {
      display: block;
      cursor: pointer;
  }

  nav.active .nav-links {
      display: flex; /* Show links when nav is active */
  }
  .toggle{
    position: relative;
    right: -90%;
    margin-left: 0;
    display: block;
}
  .midia-nav{
      display: block;
  }
}