* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }
    
    header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    }
    nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #333;
    }
    
    .logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 5%;
    }
    
    .nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    }
    
    .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    }

.hero {
    background: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.blogs {
    padding: 20px;
}

.single {
    display: block;
    margin-bottom: 20px;
    padding: 15px;
    background: #e0e0e0;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    transition: background 0.3s;
}

.single:hover {
    background: #ccc;
}

.toggle-all{
    display: none;
}
.midia-nav{
    display: none;
}
@media (max-width: 768px) {
    nav .nav-links {
        display: none; /* Hide links on small screens */
        flex-direction: column;
    }

    nav .toggle {
        display: block;
        cursor: pointer;
    }

    nav.active .nav-links {
        display: flex; /* Show links when nav is active */
    }
    .toggle{
        position: relative;
        right: -90%;
        margin-left: 0;
        display: block;
    }
    .midia-nav{
        display: block;
    }
}